@font-face {
        font-family: 'iconfont';
        src:
            url("@/assets/front/iconfont.woff2?t=1635772019354") format('woff2'),
            url("@/assets/front/iconfont.woff?t=1635772019354") format('woff'),
            url("@/assets/front/iconfont.ttf?t=1635772019354") format('truetype')
    }
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}